.text {
    &--black {
        color: $black;
    }
    &--white {
        color: $white;
    }
    &--primary {
        color: $primary
    }
}

.validation-message {
    font-size: 13px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--has-file {
        color: $primary;
    }
    &--error {
        color: rgb(255, 93, 93);
    }
}