.hero {
    display: flex;
    align-items: center;
    background-image: url("../img/bg-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    padding: rem(100px) 0 0;
    min-height: 100vh;
    h1 {
        text-transform: uppercase;
        font-size: rem(48px);
        line-height: 1.2em;
        font-weight: 700;
        color: $primary;
    }

    h2 {
        color: $black;
        font-size: rem(20px);
    }

    ul {
        margin: 17px 0 0 12px;
    }

    li {
        list-style-type: '-   ';
        margin: 0 0 0 15px;
        font-size: rem(20px);
        &:not(:first-child) {
            margin: 10px 0 0 15px;
        }
    }

    @include xs {
        background-image: url("../img/bg-hero-tablet.jpg");
        min-height: 70vh;
    }

    @include sm {
        background-image: url("../img/bg-hero-tablet.jpg");
        min-height: 650px;
    }

    @include md {
        background-image: url("../img/bg-hero-tablet.jpg");
        min-height: 750px;
    }

    @include lg {
        background-image: url("../img/bg-hero-pc.jpg");
        background-position: top center;
        min-height: 850px;
        padding: 0;
    }
    
}


.hero-inner {
    display: flex;
    flex-direction: column;  
    padding: $grid-gap-column 0;
    gap: calc(1.5*$grid-gap-column);

    @include sm {
        gap: calc(2*$grid-gap-column);
    }

    @include md {
        max-width: 700px;
        gap: calc(2*$grid-gap-column);
    }
    @include lg {
        max-width: 800px;
        gap: calc(3*$grid-gap-column);
    }
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: calc($grid-gap-column / 3) ;

    @include xs {
        flex-direction: row;
        gap: $grid-gap-column;
    }
}