.hero {

    background-image: url("../img/bg-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 25% center;
    background-size: cover;
    padding: 80px 0 20px;
    // min-height: 850px;

    h1 {
        text-transform: uppercase;
        font-size: rem(48px);
        line-height: rem(56px);
        font-weight: 700;
        color: $primary;
    }

    h2 {
        color: $black;
        font-size: rem(20px);
    }

    ul {
        margin: 17px 0 0 12px;
    }

    li {
        list-style-type: '-   ';
        margin: 0 0 0 15px;
        font-size: rem(20px);
        &:not(:first-child) {
            margin: 10px 0 0 15px;
        }
    }

    @include sm {
        background-image: url("../img/bg-hero-tablet.jpg");
        padding: 140px 0 40px;
    }

    @include lg {
        background-image: url("../img/bg-hero-pc.jpg");
        padding: 200px 0;
    }
    
}


.hero-inner {
    display: flex;
    flex-direction: column;
    // gap: 92px;
    // max-width: 780px;    
    padding: $grid-gap-column 0;
    gap: $grid-gap-column;

    @include sm {
        max-width: 660px;   
    }
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: calc($grid-gap-column / 3) ;

    @include xs {
        flex-direction: row;
        gap: $grid-gap-column;
    }
}