
.ordering {

    position: relative;
    background-image: url("../img/bg-map-mobile.png");
    background-color: $dark-6;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 150%;

    @include sm {
        background-image: url("../img/bg-map-tablet.png");
        background-size: contain;
    }

    @include md {
        background-image: url("../img/bg-map-pc.png");
        background-size: contain;
    }

    padding: calc(2*$grid-gap-column) 0;

    @include lg {
        padding: 120px 0 150px;
    }
}

.ordering-inner {

    display: flex;
    flex-direction: column;
    gap: $grid-gap-column;

    @include sm {
        gap: calc(2*$grid-gap-column);
    }

    @include lg {
        gap: 80px;
    }

}

.ordering-texts {

    display: flex;
    flex-direction: column;
    gap: rem(30px);
    
    &__title {
        text-transform: uppercase;
        font-size: rem(36px);
        line-height: 1.2;
    }

    &__title, &__description {
        text-align: center;
    }

    &__description {
        font-size: $font-size-base;
        color: $grey-3;
        line-height: 1.4;

        @include md {
            font-size: rem(18px);
        }
    }
}

.ordering-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: calc($grid-gap-column) 0;

    @include xs {
        flex-direction: row;
        gap: $grid-gap-column;
    }

    @include sm {
        gap: calc($grid-gap-column) 0;
    }
    
    @include md {
        justify-content: center;
        gap:  calc($grid-gap-column / 1.5) 0;
    }

    @include lg {
        gap:  30px;
    }
}

.ordering-list-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: calc($grid-gap-column / 2);
    padding: 0 calc($grid-gap-column / 2);

    @include md {
        width: 20%;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/sprites.svg");
            background-repeat: repeat-y;
            background-position: 0px 26px;
            transform: inherit;
            top: 45px;
            left: -27px;
            width: 58px;
            height: 6px;
        }

        &:nth-of-type(5n+1)::before {
            content: none;
        }
    }

    @include lg {
        flex-wrap: wrap;
        width: 209px;


        &::before {
            left: -70px;
            top: 47px;
            width: 110px;
    
        }
    }

    &:not(:first-child) {
        &::after {
            content: "";
            position: absolute;
            background-image: url("../img/sprites.svg");
            background-repeat: repeat-y;
            background-position: 0px 26px;
            transform: rotate(90deg) scale(.6);
            transform-origin: left bottom;
            top: -30px;
            left: 40px;
            width: 32px;
            height: 6px;

            @include xs {
                left: 48px;
            }

            @include md {
                left: 33px;
                content: none;
            }
        }
    }

    &:nth-of-type(2)::after {
        @include sm {
            content: none;
        }
    }

    @include sm {
        width: calc(50% - 15px);
    }

    @include md {
        flex-direction: column;
        width: 20%;
        padding: 0;
    }

    &__border-icon {

        border-radius: 50px;
        height: 70px;
        background: $primary;
        border: 3px solid $primary-border;
        min-width: 70px;
        width: 70px;
        right: 8px;

        @include md {
            width: 100px;
            height: 100px;
            min-width: 100px;
            border: 5px solid $primary-border;
        }


        &.icon::before {
            transform: translate(-50%, -50%) scale(0.7);
            @include md {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &:first-child {
            &::after {
                content: none;
            }
        }

        @include xs {
            right: 0;
        };
    }

    &__text {
        color: $white;
        font-size: $font-size-base - 2;
        font-weight: 400;
        line-height: 1.3;

        @include xs {
            font-size: $font-size-base;
            line-height: 1.3;
            text-align: center;
        }

        @include sm {
            padding: 0 15px;
        }

        @include lg {
            font-size: $font-size-base;
            line-height: 1.3;
        }
    }
}

// .ordering-list-item {

//     display: flex;
//     align-items: center;
//     position: relative;

//     &:not(:first-child) {
//         &::before {
//             @include md {
//                 content: "";
//                 position: absolute;
//                 top: 50px;
//                 background-image: url(../img/sprites.svg);
//                 background-position: 0 -110px;
//                 width: 84px;
//                 height: 6px;
//                 left: -43px;
//             }
//             @include lg {
//                 width: 110px;
//                 height: 6px;
//                 left: -56px;
//             }
//         }
//     }

//     @include xs {
//         width: calc(33.333% - 20px);
//         display: block;
//     }

//     @include md {
//         flex: 1;
//     }

//     &:nth-last-child(1), &:nth-last-child(2) {
//         @include xs {
//             width: calc(50% - 20px);
//         }
//     }
    
//     &__border-icon {

//         border-radius: 50px;
//         height: 100px;
//         background: $primary;
//         border: 5px solid $primary-border;
//         min-width: 100px;
//         width: 100px;
//         transform: scale(.8);
//         right: 8px;

//         @include xs {
//             margin: 0 auto;
//             transform: scale(1);
//             right: 0;
//         };
//     }

//     &__text {
//         color: $white;
//         font-size: $font-size-base - 2;
//         font-weight: 400;
//         line-height: 1.3;
        
//         margin: rem(5px) 0 0;

//         @include xs {
//             font-size: $font-size-base;
//             line-height: 1.3;
//             text-align: center;
//             margin: rem(10px) 0 0;
//         }

//         @include sm {
//             padding: 0 15px;
//         }

//         @include lg {
//             font-size: $font-size-base;
//             line-height: 1.3;
//             margin: rem(20px) 0 0;
//         }
//     }
// }