@use "functions";

* {
    box-sizing: $box-sizing-base;

    &:before,
    &:after {
        box-sizing: $box-sizing-base;
    }
}

html {
    @if $enable-smooth-scroll {
        scroll-behavior: smooth;
    }
    font-size: $font-size-base - 3;

    @include sm {
        font-size: $font-size-base - 2;
    }

    @include md {
        font-size: $font-size-base - 1;
    }

    @include lg {
        font-size: $font-size-base;
    }
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    line-height: $line-height-base;
    color: $black;
    background-color: $white;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: #{ functions.screen(xxs) };


}

main {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}