// DEFAULT VALUES
$font-family-base: 'Lato', 'Arial', 'Helvetica', sans-serif;
$font-size-base: 16px;
$line-height-base: 115%;
$box-sizing-base: border-box;
$transition-base: all 150ms ease-out;
$enable-smooth-scroll: true;

// COLORS
$white: #ffffff;
$white-70: rgba(255,255,255,.7);
$white-85: rgba(255,255,255,.85);

$black: #000000;
$black-20: rgba(0,0,0,.2);
$dark: #22252D;

$grey-1: rgb(195,195,195);
$grey-2: rgb(61,64,80);
$grey-2-85: rgb(61,64,80,.85);
$grey-3: rgb(187,187,187);

$dark-1: rgb(39,39,51);
$dark-2: rgba(16,16,29,.9);
$dark-3: rgb(35,31,32);
$dark-4: rgb(42,43,48);
$dark-5: rgb(61,64,80);
$dark-6: rgb(39,39,51);


$primary: rgb(62,156,220);
$primary-border: #286690;

// GRID
$grid-gap-column: 30px;
$grid-gap-row: 0;

$input-height: 48px;

$breakpoints: (
    retina: 2560px,
    xxl: 1920px,
    xl: 1440px,
    lg: 1200px,
    md: 1024px,
    sm: 768px,
    xs: 576px,
    xxs: 290px
);