$weights: 400, 600, 700, 900;

@each $weight in $weights {
    @font-face {
        font-family: 'Lato';
        src:    url('../fonts/lato-' + $weight + '.woff2') format('woff2'),
                url('../fonts/lato-' + $weight + '.woff') format('woff'),
                url('../fonts/lato-' + $weight + '.ttf') format('truetype');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@font-face {
    font-family: 'Raleway';
    src:    url('../fonts/raleway-800.woff2') format('woff2'),
            url('../fonts/raleway-800.woff') format('woff'),
            url('../fonts/raleway-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}