<header>
    <div class="container">
        <a href="/" class="logo"><span class="text--white">LoremIpsum.</span><span class="text--primary">Net</span></a>
        {% include './_navigation.twig'  %}
    </div>
</header>