<header
    data-aos="fade-down"
    data-aos-offset="0"
    data-aos-duration="500" 
    class="header"
>
    <div class="header-container container">
        <a href="/"
            class="logo"
            data-aos="fade-down"
            data-aos-offset="0"
            data-aos-duration="500"
            data-aos-delay="0"
        >
        <span class="logo-inner">
            <span>LoremIpsum.</span><span class="text text--primary"><span data-aos-delay="500" data-aos="fade">N</span><span data-aos-delay="700" data-aos="fade">e</span><span data-aos-delay="900" data-aos="fade">t</span>
        </span>
        </span></a>
        {% include './_navigation.twig'  %}
    </div>
</header>