<div
    data-aos="fade"
    data-aos-offset="200"
    data-aos-duration="500" 
    data-aos-delay="100"
    class="hero"
>
    <div class="container">
        <div class="hero-inner"
            data-aos="fade-right"
            data-aos-offset="200"
            data-aos-duration="500" 
            data-aos-delay="200"
        >
            <h1>Lorem ipsum <span class="text text--black">dolor&nbsp;sit<br>amet consectetur</span> adipiscing</h1>
            <div class="hero-text">
                <h2>At vero eos et accusamus et iusto odio dignissimos ducimus!</h2>
                <ul>
                    <li>Totam rem aperiam eaque ipsa</li>
                    <li>Sit voluptatem accusantium doloremque laudantium</li>
                    <li>Sed ut perspiciatis, unde omnis iste natus error</li>
                </ul>
            </div>
            <div class="hero-buttons">
                <a class="btn btn--primary btn--full" href="#"
                    data-aos="fade-down"
                    data-aos-offset="0"
                    data-aos-duration="500" 
                    data-aos-delay="200"
                >Заказать</a>
                <a class="btn btn--white btn--full" href="#"
                    data-aos="fade-down"
                    data-aos-offset="0"
                    data-aos-duration="500" 
                    data-aos-delay="300"
                >Подробнее</a>
            </div>
        </div>
    </div>
</div>