<div class="hero">
    <div class="container">
        <div class="hero-inner">
            <h1>Lorem ipsum <span class="text text--black">dolor&nbsp;sit<br>amet consectetur</span> adipiscing</h1>
            <div class="hero-text">
                <h2>At vero eos et accusamus et iusto odio dignissimos ducimus!</h2>
                <ul>
                    <li>Totam rem aperiam eaque ipsa</li>
                    <li>Sit voluptatem accusantium doloremque laudantium</li>
                    <li>Sed ut perspiciatis, unde omnis iste natus error</li>
                </ul>
            </div>
            <div class="hero-buttons">
                <a class="btn btn--primary btn--full" href="#">Заказать</a>
                <a class="btn btn--white btn--full" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div>