.lorem-base-form__input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(15px);
    background: $white;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    color: $dark-6;
    height: $input-height;

    &:hover {
        background: $white-70;
    }

    & + .validation-message {
        text-align: center;
    }
    
}


.lorem-base-form__input-file-title {
    text-transform: uppercase;
    padding: 0 0 0 26px;
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
