.lorem-base-form__select-block {
    position: relative;
    z-index: 1;
    font-size: rem(18px);
    & select {
        display: none;
    }
}

.select-selected {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $white-85;
    color: $black;
    padding: 14px 10px;
    height: $input-height;
    border-radius: 3px;
    &.select-arrow-active {
        border-radius: 3px 3px 0 0;
        background-color: $grey-2-85;
        color: $white;
        &:after {
            transform: translateY(-50%) rotate(-135deg);
            border-color: $white;
        }
    }

    &:after {
        position: absolute;
        content: "";
        border: solid $black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}

.select-items {
    position: absolute;
    background-color: $dark-6;
    outline: 1px solid $grey-2-85;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
    max-height: 150px;
    width: calc(100% - 2px);
    margin-left: 1px;
    scrollbar-width: 7px;
    scrollbar-color: $primary $dark-5; 
    overflow-y: scroll;

    &::-webkit-scrollbar {
        padding: 2px 0;
        width: 7px;
        background: $dark-5;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary; 
        border-radius: 10px;
    }
}

.select-items {

    display: flex;
    flex-direction: column;
    gap: 1.2em;
    color: $white;
    border: 3px solid $dark-6;
    padding: 10px 13px;

    & div:hover {
        color: $primary;
    }

    @include md {
        gap: .72em;
    }

}

.select-items div,.select-selected {
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

.select-hide {
    display: none;
}

.simplebar-track.simplebar-vertical {
	background-color: #d9d9d9;
	width: 5px;
}

.simplebar-content-wrapper {
	padding-right: 15px;
}

.simplebar-scrollbar::before {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-color: #2871c5;
	border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	top: 0;
	bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: 1;
}